[Desktop Entry]
Type=Application
Icon=applications-arcade
Name=Run Vision System
Exec=/home/visionsystem/Travel-Vision-System/RunVisionSystem.sh
Terminal=true
